*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
}
.container{
  width: 100%;
  height: 100%;
}
.flexRow{
  display: flex;
}
.flexRowCenterAll{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
}
.flexColumnCenterAll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TextCenter{
  text-align: center;
}
.ellipsis{
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 隐藏滚动条 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
/* 隐藏滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 隐藏滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}