.mainContent{
    width: 60%;
    .item{
        border-radius: .4rem;
        border: 1px solid #dcdfe6;
        padding: 1rem;
        margin-bottom: 1rem;
        &:last-child{ margin-bottom: 0; }
        .item_username{
            color: #409EFF;
        }
        .item_usermsg{
            margin: .5rem 0;
        }
        .item_msgtime{
            align-items: flex-end;
        }
    }
}